<plugin name='federated-grails' version='0.2' grailsVersion='2.0.0 &gt; *'>
  <author>Bradley Beddoes</author>
  <authorEmail>bradleybeddoes@gmail.com</authorEmail>
  <title>Integrates Shibboleth Service Provider (Apache) into Shiro and Grails for federated applications.</title>
  <description> For application developers Federated environments can be somewhat daunting and complex. This plugin aim to ease the usage of Shibboleth SP software (http://www.shibboleth.net) with Grails applications. The plugin utilizes Shiro
as its internal authentication and access control layer.
</description>
  <documentation>http://wiki.aaf.edu.au/tech-info/development-libraries-and-guides</documentation>
  <type>FederatedGrailsGrailsPlugin</type>
  <resources>
    <resource>BootStrap</resource>
    <resource>spring.resources</resource>
    <resource>grails.plugins.federatedgrails.Permission</resource>
    <resource>grails.plugins.federatedgrails.Role</resource>
    <resource>grails.plugins.federatedgrails.SessionRecord</resource>
    <resource>grails.plugins.federatedgrails.SubjectBase</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <runtime>
      <dependency group='org.grails.plugins' name='shiro' version='1.1.3' />
    </runtime>
  </dependencies>
  <plugins>
    <test>
      <plugin group='org.grails.plugins' name='spock' version='0.6' />
    </test>
  </plugins>
  <runtimePluginRequirements>
    <plugin name='shiro' version='1.1.3' />
  </runtimePluginRequirements>
  <behavior />
</plugin>